{% extends "base2.html.twig" %}
{% block title %}Prueba{% endblock %}
{% block body %}
    {% include 'convivencia/navegacion.html.twig' %}

    <h3 class="center">Copias de seguridad</h3>

    <a class="waves-effect waves-light btn blue darken-2" href="">Realizar copia<i class="material-icons right">send</i></a>
{% endblock %}
